.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 
.h2{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  align-items: center;
  justify-content: center;
  display:grid;
}
.tablemodule{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  align-items: center;
  justify-content: center;
  display:grid;

}
.tablemodule left{
  align-items:right;
  justify-content: right;
}
.tablemodule right{
  align-items:left;
  justify-content: left;
}
.wrapper {
  padding: 5px 20px;
}

.wrapper fieldset {
  margin: 20px 0;
}
